<button><a href="/appointments">Appointments</a></button>
<button><a href="/appointments/new">Create New Appointments</a></button>
<button><a href="/users/<%=@user.slug%>/logout">Logout</a></button>

<h1>Welcome <%=@user.username%></h1>
<h2>Please Brush your teeth at <%=@time%></h2>
