<button><a href="/forms">Forms</a></button>
<button><a href="/forms/new">Create New Form</a></button>
<button><a href="/patients/<%=@patient.slug%>/logout">Logout</a></button>

<h1>Welcome <%=@patient.username%></h1>

List all the forms
<a href="#">form 1</a>
