<h1>Create A New Appointment</h1>

<form action= "/appointments" method="post">
  <h2>Name:<input type = "text" name="title"></h2>
  <br>
  <br>
  Location:<input type="text" name="location">
  Date:<input type="datetime-local" name="date">
  <input type="submit" value="submit">
</form>
